.link {
    text-decoration: none !important;
}

ul li {
    list-style: none;
}

.image-container {
    width: 300px;
}

.image-container img {
    width: 100%;
    margin: 0 auto;
    display: block;
}