{% extends('base.html') %}

{% block content %}
    <div>
        {% for blog in blogs.items %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title text-capitalize">
                        <a href="{{ url_for('view_blog', blog_id=blog.id)}}">{{ blog.title }}</a>
                    </div>
                    <div class="card-text ellipsis">
                        {{ blog.content }}
                    </div>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between">
                    <div>{{ blog.writer.name }} - <time>{{ blog.date_posted.strftime('%a %d %b, %Y') }}</time></div>
                    {% if current_user.id == blog.writer.id %}
                        <div>
                            <a href="{{ url_for('edit', blog_id=blog.id) }}">Edit</a>

                            <a id="delete"
                               class="ml-3"
                               style="color: #dc3545 !important; "
                               href="{{ url_for('delete', blog_id=blog.id) }}"
                            >
                                Delete
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        {% for page_num in blogs.iter_pages() %}
            {% if page_num %}
                {% if blogs.page == page_num %}
                    <a class="btn btn-info" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}