{% extends('base.html') %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="card-title">blog title</div>
            <div class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                dolores enim est et eum incidunt itaque iure maiores neque nihil,
                nulla odio odit quas repudiandae sapiente sunt, voluptas, voluptate
                voluptates.
            </div>
        </div>
        <div class="card-footer text-muted">
            author - published date
        </div>
    </div>
{% endblock %}